{
  "presets": [
    "@babel/env", "@babel/react"
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "transform-object-rest-spread",
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-class-properties", { "spec": true }]
  ]
}
